.filters {
  position: relative;
  top: 0;
  left: 0;
  background: var(--panelBgColor);
  z-index: 10;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.5em;
  font-size: 0.8em;
}

.nodeInfo {
  position: relative;
  min-width: 10vw;
  max-width: 500px;
  background: var(--panelBgColor);
  z-index: 10;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.5em;
  font-size: 0.8em;
}

.addressCell {
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}


node.faded {
  opacity: 0.08;
}
edge.faded {
  opacity: 0.06;
}
